/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the navigation links */
.nav_links {
    position: absolute;
    top: 25vh; /* Position below the black background */
    right: 0;
    background-color: #333;
    padding: 10px 20px;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensure padding does not add to width */
}

.nav_links a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Adjust as needed */
}

.nav_links a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

body {
    background-color: #000;
    height: 25vh; /* 25% of viewport height */
    margin: 0;
}
